
/* bootstrap is overriding this doc, unless I make it important... */
/* important = !important */

/* below references Previews id in index file*/
#Previews img{width: 150px}

#compare {font-size: 20px;}

/* .ml-auto {float: right;} */

#BigTitle {
  text-align: left;
  background-color: #3083a2;
  color: white !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

#GraphSize img{width: 550px}

h2 {
  color: blue !important;
}

h3 {
  color: blue !important;
}
